<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  | Hello from body, body!
  | Hello from body, body!
  | Hello from body, body!
  | Hello from body, body!
  img(src="~public/images/test.png")

  